<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="WSCF" Language="1033" Version="1.0.14.0" Manufacturer="WSCF Contributors" UpgradeCode="bd6f9533-58f4-490f-bf0b-803c2d369a80">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="WSCF" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="WSCF" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="Metadata" Guid="58d53b15-20ab-42cf-9ffd-501af87bc5d9">
				<File Source="$(var.Thinktecture.ServiceModel.Extensions.Metadata.TargetPath)" />
			</Component>
			<Component Id="CodeGeneration" Guid="898581f6-8e66-4c79-8b6d-4f6c765318dd">
				<File Source="$(var.Thinktecture.Tools.Web.Services.CodeGeneration.TargetPath)" />
			</Component>
			<Component Id="ContractFirst" Guid="2dccf3b5-27c9-442d-9f57-e246fb092443">
				<File Source="$(var.Thinktecture.Tools.Web.Services.ContractFirst.TargetPath)" />
			</Component>
			<Component Id="ServiceDescription" Guid="8465a7c7-440e-4c66-b807-851782360296">
				<File Source="$(var.Thinktecture.Tools.Web.Services.ServiceDescription.TargetPath)" />
			</Component>
			<Component Id="Environment" Guid="137f1caf-8a4f-44f1-899b-9f8aa63788c6">
				<File Source="$(var.Thinktecture.Tools.Web.Services.Wscf.Environment.TargetPath)" />
			</Component>
			<Component Id="WsdlWizard" Guid="aa5fb4d3-6cf1-4268-a027-1116331d79c9">
				<File Source="$(var.Thinktecture.Tools.Web.Services.WsdlWizard.TargetPath)" />
			</Component>

			<Component Id="ContractFirst.VS2008.addin" Guid="b3bc404c-7999-4869-a9f2-57cc5a71d404">
				<File Source="$(var.SolutionDir)WSCF.blue.VS2008.addin" />
			</Component>
			<Component Id="ContractFirst.VS2010.addin" Guid="1202a574-ae68-4b52-9de9-0cd703699586">
				<File Source="$(var.SolutionDir)WSCF.blue.VS2010.addin" />
			</Component>
			<Component Id="ContractFirst.VS2012.addin" Guid="42fbad90-fc52-46db-bab4-bf8196dfbc25">
				<File Source="$(var.SolutionDir)WSCF.blue.VS2012.addin" />
			</Component>
			<Component Id="ContractFirst.VS2013.addin" Guid="5b1e586a-916b-4893-8464-510740d3911f">
				<File Source="$(var.SolutionDir)WSCF.blue.VS2013.addin" />
			</Component>

			<Component Id="WizardControl" Guid="452de48e-e074-44bc-8cf7-f7ca913375b4">
				<File Source="$(var.Thinktecture.Tools.Web.Services.WsdlWizard.ProjectDir)Dependencies\WizardControl.dll" />
			</Component>
			<Component Id="PropertyTree" Guid="a3aec77a-3c57-4068-bae0-4c3940587516">
				<File Source="$(var.Thinktecture.Tools.Web.Services.WsdlWizard.ProjectDir)Dependencies\WRM.PropertyTree.dll" />
			</Component>

			<Component Id="LookInFolders.9.0" Guid="d80f1741-66a8-4b70-a05b-8c3b4021eefa">
				<RegistryKey Root="HKLM" Key="Software\Microsoft\VisualStudio\9.0\AutomationOptions\LookInFolders" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
					<RegistryValue Type="string" Name="[INSTALLFOLDER]" Value="" KeyPath="yes" />
				</RegistryKey>
			</Component>
			<Component Id="LookInFolders.10.0" Guid="99c3f23b-eea5-4266-b8e2-2b4df9630001">
				<RegistryKey Root="HKLM" Key="Software\Microsoft\VisualStudio\10.0\AutomationOptions\LookInFolders" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
					<RegistryValue Type="string" Name="[INSTALLFOLDER]" Value="" KeyPath="yes" />
				</RegistryKey>
			</Component>
			<Component Id="LookInFolders.11.0" Guid="f156db0d-2ce2-4cdd-bee3-776aaf7ddce1">
				<RegistryKey Root="HKLM" Key="Software\Microsoft\VisualStudio\11.0\AutomationOptions\LookInFolders" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
					<RegistryValue Type="string" Name="[INSTALLFOLDER]" Value="" KeyPath="yes" />
				</RegistryKey>
			</Component>
			<Component Id="LookInFolders.12.0" Guid="0b93e20f-c6b1-4984-bc44-7e5059328792">
				<RegistryKey Root="HKLM" Key="Software\Microsoft\VisualStudio\12.0\AutomationOptions\LookInFolders">
					<RegistryValue Type="string" Name="[INSTALLFOLDER]" Value="" KeyPath="yes" />
				</RegistryKey>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>