<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="metadataService" type="Thinktecture.ServiceModel.Extensions.Metadata.StaticMetadataBehaviorElement, Thinktecture.ServiceModel.Extensions.Metadata, Version=1.0.0.0, Culture=neutral, PublicKeyToken=20fb7cabbfb92df4"/>
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="MetadataExtensionPrototype.Foo" behaviorConfiguration="metadataHostingExtension">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/"/>
          </baseAddresses>
        </host>
        <endpoint address="foo" binding="basicHttpBinding" contract="MetadataExtensionPrototype.IFoo"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataHostingExtension">
          <metadataService rootMetadataFileLocation="RestaurantService.wsdl" metadataUrl="wsdl"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="Thinktecture.ServiceModel.Extensions.Metadata" switchValue="Error">
        <listeners>
          <add name="TextFile" />
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="EventLog" type="System.Diagnostics.EventLogTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="Metadata Extension Prototype">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
      </add>
      <add name="TextFile" type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="c:\temp\app.log">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>